<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.box.boxsharedlinkcreator"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

	<uses-permission android:name="android.permission.INTERNET" />
    <application
        android:name="BoxSharedLinkCreatorApplication"
        android:allowBackup="true" >
        <activity
            android:name="com.box.boxsharedlinkcreator.CreateSharedLinkActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
          <activity android:name="com.box.boxandroidlibv2.activities.OAuthActivity" />
        <activity
            android:name="com.box.boxandroidlibv2.activities.FilePickerActivity"
            android:theme="@style/Theme.Boxandroidlibv2.DialogNoTitle"
            android:label="@string/Select_file" />
    </application>

</manifest>